button{
      background-color: orange;
      color: white;
      border: none;
      height: 50px;
      
}

h1{
      color:rgb(44, 80, 221);
   
}

h3{
      color: rgb(143, 21, 21);
}
// Adding styling to the real clock 

clocl{
      color:red;
      border: none;
      height: 100px;
}