button{
      background-color: rgb(1, 61, 243);
      color: white;
      border: none;
      height: 50px;
      
}

h1{
      color:rgb(44, 80, 221);
   
}

h3{
      color: rgb(143, 21, 21);
}


button{
      color:rgb(253, 253, 253);
      border: none;
      height: 120px;
      border-radius: 100px;
}

#clock{
      width: 100%;
      position: absolute;
      font-size: 9vw;
      color: blueviolet;
}